*{
  margin:0;
}

.app {
  background-color: #fafafa;
  
}

.app_header{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  height: 65px;
  border-bottom : 1px solid lightgrey;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app_headerImage{
  object-fit: contain;
  height: 52px;
}

.app_posts{
  padding: 22px;
  display: flex;
  justify-content: center;
}
.app_stories{
  padding: 10px;
  padding-left: 30px;
}
.or_display{
  margin: 20px;
  padding: 20px;
  text-align: center;
}